.gradient-button {
  transition: all 0.2s ease;
  background: linear-gradient(135deg, $secondary-4 0%, $primary 100%);
  font-weight: 700;
  @include box_shadow(2)
  &:hover {
    @include box_shadow(3)
  }
}

@-webkit-keyframes fadeIn { from { opacity: 0;   } to { opacity: 1;  } }
@-moz-keyframes fadeIn { from { opacity: 0;  } to { opacity: 1;  } }
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1;  } }

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: .4s;
  -moz-animation-duration: .4s;
  animation-duration: .4s;

  &.one {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
  }

  &.two {
    -webkit-animation-delay:  .4s;
    -moz-animation-delay: .4s;
    animation-delay: .4s;
  }

  &.three {
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    animation-delay: .5s;
  }

  &.four {
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    animation-delay: .8s;
  }
}

.section-content-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10%;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}
