/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .splash h2 {
    font-size: 1.5rem;
  }

  .lead {
    font-size: 1.2rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .copyright {
    line-height: 48px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .splash {
    padding-right: 15rem;
    padding-left: 15rem;
  }

  .splash-about {
    padding-right: 15rem;
    padding-left: 15rem;
  }

  .splash-event {
    padding-right: 15rem;
    padding-left: 15rem;
  }

  .logo {
    height: 13rem;
    margin: 1.2rem 0;
  }

  .collaborations img {
    width: 11rem;
  }

  .event img {
    width: 30rem;
  }

  .event .text-content {
    padding-right: 10rem;
  }

  .officers .external-links {
    padding-top: 40%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .splash {
    padding-right: 25rem;
    padding-left: 25rem;
    padding-top: 3rem;
  }

  .splash-about {
    padding-right: 25rem;
    padding-left: 25rem;
    padding-top: 3rem;
  }

  .splash-event {
      padding-right: 25rem;
      padding-left: 25rem;
      padding-top: 3rem;
  }

  .logo {
    height: 15rem;
    margin: 1.2rem 0;
  }

  .navbar-brand img {
    width: 13rem;
  }
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.section{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.slider{
  width: 900px;
  height: 600px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  left: 230px;
}
 
.slide{
  width: 500%;
  height: 600px;
  display: flex;
}
 
.slide input{
  display: none;
}
 
.st {
  width: 20%;
  transition: 2s;
}
 
.st img{
  width: 900px;
  height: 600px;
}
 
.nav-m{
  position: absolute;
  width: 900px;
  margin-top: 560px;
  justify-content: center;
  display: flex;
}
 
.m-btn{
  border: 2px solid blue;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 3s;
}
 
.m-btn:not(:last-child){
  margin-right: 30px;
}
 
.m-btn:hover{
  background-color: blue;
}
 
#radio1:checked ~.first{
  margin-left: 0;
}
 
#radio2:checked ~.first{
  margin-left: -20%;
}
 
#radio3:checked ~.first{
  margin-left: -40%;
}
 
#radio4:checked ~.first{
  margin-left: -60%;
}

#radio5:checked ~.first{
  margin-left: -80%;
}
 
.nav-auto{
  position: absolute;
  width: 900px;
  margin-top: 560px;
  justify-content: center;
  display: flex;
}
 
.nav-auto div{
  border: 2px solid blue;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
 
.nav-auto div:not(:last-child)
{
  margin-right: 30px;
  justify-content: center;
}
 
#radio1:checked ~.nav-auto .a-b1{
  background-color: blue;
  border: 2px solid blue;
}
 
#radio2:checked ~.nav-auto .a-b2{
  background-color: blue;
  border: 2px solid blue;
}
 
#radio3:checked ~.nav-auto .a-b3{
  background-color: blue;
  border: 2px solid blue;
}
 
#radio4:checked ~.nav-auto .a-b4{
  background-color: blue;
  border: 2px solid blue;
}

#radio5:checked ~.nav-auto .a-b5{
  background-color: blue;
  border: 2px solid blue;
}

.drop {
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .drop {background-color: #fff;}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}