.footer {
  background-color: #22292C;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: inset 0 8px 4px -2px rgba(0,0,0,.4);
  -moz-box-shadow: inset 0 8px 4px -2px rgba(0,0,0,.4);
  box-shadow: inset 0 8px 4px -2px rgba(0,0,0,.4);
  min-height: 350px;
  @media screen and (max-width: 620px) {
    height: 30vh;
  }

  .footer-content-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;

    .footer-left {
      display: flex;
      flex-direction: column;
      flex: 2;
      @media screen and (max-width: 950px) {
        display: none;
      }

      .content-wrapper {
        padding: 4% 0%;
      }
    }

    .footer-middle {
      display: flex;
      flex-direction: column;
      flex: 2;
      @media screen and (max-width: 950px) {
        display: none;
      }

      .content-wrapper {
        padding: 4% 0%;
      }
    }

    .footer-right {
      display: flex;
      flex-direction: column;
      flex: 3;

      .content-wrapper {
        padding: 4% 0%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-right: 5px;
        padding-bottom: 70px;
        @media screen and (max-width: 950px) {
          padding-bottom: 0px;
        }
        .responses-wrapper {
          top: 5px;
          position: relative;
          height: 1px;
          .error {
            color: #ff003d;
          }

          .success {
            color: $primary;
          }

          .response {
            font-size: 12px;
            display: block;
            padding-top: 5px;
          }
        }

        .header-container {
          padding-bottom: 10px;

          h3 {
            color: #fff;
          }

          p {
            color: #fff;
            font-size: 14px;
          }
        }


        .footer-email-signup-form-container {
          form {
            .input-container {
               display: flex;
               border: 1px solid #fff;
               border-radius: 2px;
               position: relative;
               height: 48px;

               &:after {
                 content: '';
                  position: absolute;
                  left: 0;
                  bottom: 5px;
                  display: block;
                  width: 100%;
                  height: 1px;
                  background: #fff;
               }

              input {
                display: block;
                background-color: #22292C;
                width: 100%;
                height: 40px;
                border: none;
                padding-left: 20px;
                padding-right: 20px;
                font-size: 12px;
                font-family: 'Montserrat', sans-serif;
                color: #fff;

                &::placeholder {
                  transition: all 0.3s;
                  color: #ddd;
                }

                &:focus {
                  &::placeholder {
                    color: #666;
                  }
                }
              }

              button {
                border-bottom: 1px solid #fff;
                font-weight: normal;
                border-left: 1px solid #fff;
                font-size: 14px;
                height: 43px;
                transition: all 0.5s;

                &:hover {
                  background-color: #fff;
                  color: #222;
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
    }
  }
}

.gutter {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(24, 29, 31);
  -webkit-box-shadow: inset 0 8px 4px -4px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 8px 4px -4px rgba(0,0,0,.05);
  box-shadow: inset 0 8px 4px -4px rgba(0,0,0,.05);
  padding: 0 10%;

  @media screen and (max-width: 950px) {
    height: 25vh;
  }

  @media screen and (max-width: 620px) {
    flex-flow: column-reverse;
  }

  .gutter-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    height: 100%;

    @media screen and (max-width: 620px) {
      align-items: flex-start;
    }

    .header {
      display: flex;
      justify-content: flex-start;
      flex: 1;

      p {
        font-weight: 700;
        font-size: 12px;
        color: #fff;
        @media screen and (max-width: 550px) {
          font-size: 11px;
        }

        @media screen and (max-width: 510px) {
          font-size: 10px;
        }

        @media screen and (max-width: 480px) {
          font-size: 9px;
        }
      }

      .fa-heart {
        color: #f21d5b
      }
    }
  }

  .gutter-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    height: 100%;
    @media screen and (max-width: 620px) {
      align-items: flex-end;
      margin-top: 30px;
    }

    .links {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      @media screen and (max-width: 620px) {
        margin-bottom: 30px;
      }

      .email {
        text-decoration: none;
        padding-top: 1px;
        p {
          font-size: 12px;
          font-weight: 700;
          color: #fff;
          opacity: 1;
          transition: all 0.2s;
          &:hover {
            opacity: 0.5;
          }
        }
      }
      .fa {
        color: #fff;
        font-size: 30px;
        transition: all 0.2s ease-in-out;
      }

      .fa:hover {
        cursor: pointer;
      }

      .fa-facebook-official:hover {
        color: #3C599F
      }

      .fa-twitter:hover {
        color: #1ea1f3;
      }

      .instagram-logo-container {
        position: relative;

        .fa-instagram:first-of-type {
          background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          opacity: 0;
          transition: all 0.2s;
          position: absolute;
          z-index: 9999;
        }

        .fa-instagram:first-of-type:hover {
          opacity: 1;
        }

        .fa-instagram:last-of-type {
          transition: all 0.2s;
          color: #fff;
          opacity: 1;
          position: absolute;
        }
      }

      a {
        margin-right: 30px;
      }
    }
  }
 }
