@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700");
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@font-face {
    font-family: pixel;
    src: url(/src/fonts/PixelatedDisplay.ttf);
}

@font-face {
    font-family: vt323;
    src: url(/src/fonts/VT323-Regular.ttf);
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x:hidden;
    font-family: "Montserrat", sans-serif;
    
    
}

.splash-sub {
    background-size: cover;
    color: #ffffff;
    height: 100%;
    padding-top: 6rem;
    position: relative;
}

.splash-sub h2 {
    font-weight: 700;
    font-size: 1.5rem;
}

.splash-about {
    background: #000 url("../imgs/officers/all_officers.png");
    background-size: cover;
}

.splash-event {
    background: #000 url("../imgs/ATEC.jpg");
    background-size: cover;
}

.splash-uxperience {
    background: #000 url("../imgs/uxperience/blackstone_launchpad.jpg");
    background-size: cover;
}

.about-content {
   
    padding-bottom: 6rem;
}

.officers {
    position: relative;
}

.officers img {
    height: 100%;
    width: 100%;
    position: relative;
}

.officers img:hover~.external-links,
.officers .external-links:hover {
    display: inline-block;
}

.officers .external-links {
    background: #00000066;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
    padding-top: 35%;
}

.officer-wrapper {
    width: 14rem;
    margin: 0 auto;
}

.dashborder {
    border: 0.4vw dashed #0075CD;
    border-radius: 100%;
}

.officer-description * {
    padding-top: 0.25em;
    padding-bottom: 0.5em;
    margin: 0;
}

.external-links a {
    color: inherit;
}

.external-links a:hover {
    opacity: 0.8;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #25336e 0%, #009fda 36%, #48c4e5 81%, #9cdbf1 100%);
    opacity: 0.8;
}

.no-border {
    border: none;
}

.btn-dark-light {
    border: solid 1.5px #000;
    color: #000;
    background: transparent;
}

.btn-dark-light:hover {
    color: #fff;
    background: #000;
}

.logo {
    height: 10rem;
    margin: 1rem 0;
}

.splash {
    background: linear-gradient(135deg, #25336e 0%, #009fda 36%, #48c4e5 81%, #9cdbf1 100%);
    color: #ffffff;
    height: 100%;
    padding-top: 6rem;
}

.splash h2 {
    font-weight: 700;
    font-size: 1rem;
}

.navbar-brand img {
    width: 10rem;
}

.navbar .nav-item a.nav-link {
    color: #009fda;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.navbar .nav-item a.nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #009fda;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.navbar .nav-item a.nav-link:hover,
.navbar .nav-item a.nav-link:active,
.navbar .nav-item a.nav-link:focus {
    color: #009fda;
}

.navbar .nav-item a.nav-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(0.8);
    transform: scaleX(0.8);
}

.fb-page {
    display: block;
    text-align: center;
    margin: auto;
}

.fb_iframe_widget {
    display: block;
}

.event img {
    width: 20rem;
}

.event {
    margin-bottom: 5rem;
}

.event-time {
    font-weight: bold;
}

.event-activity-name {
    font-weight: bold;
    font-size: 1.5rem;
}

.event-activity-description {
    font-size: 1rem;
}

#flyer img {
    width: 100%;
    height: auto;
}

.collaborations img {
    width: 8rem;
}

.mailing-list {
    background: #222222;
    color: #ffffff;
}

.btn-gradient {
    text-decoration: none;
    color: #ffffff;
    transition: all 0.2s ease;
    background: linear-gradient(135deg, #009fda 0%, #48c4e5 100%);
    font-weight: 700;
    box-shadow: 0 1.5px 3.5px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.14);
}

.btn-gradient:hover {
    box-shadow: 0 2.5px 4.5px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.24);
    color: #ffffff;
}

.btn-clear {
    background: transparent;
    color: #ffffff;
    border: 1px solid #fff;
    font-weight: normal;
    font-size: 14px;
    height: 43px;
    transition: all 0.5s;
}

.btn-clear:hover {
    background-color: #fff;
    color: #222;
    font-weight: 700;
}

.btn-design-gradient {
    width: 270px;
    height: 70px;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.2s ease;
    background: linear-gradient(135deg, #354C88 23.9%, #4C74DC 137.61%);
    font-weight: 700;
    font-size: 25px;
    box-shadow: 0 1.5px 3.5px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.14);
    border-radius: 8px;
    border: none;
}

.btn-design-blue {
    width: 270px;   
    height: 70px;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.2s ease;
    background: #48C3E4;
    font-weight: 700;
    font-size: 25px;
    box-shadow: 0 1.5px 3.5px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.14);
    border-radius: 8px;
}

.btn-ptop-gradient {
    width: 270px;
    height: 70px;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.2s ease;
    background: linear-gradient(135deg, #354C88 23.9%, #4C74DC 137.61%);
    font-weight: 700;
    font-size: 25px;
    box-shadow: 0 1.5px 3.5px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.14);
    border-radius: 8px;
    border: none;
    
}
.btn-ptop-gradient:hover {
    background:  #ffffff;
    color: #354C88;
    border: 4px solid #354C88;
}

form {
    padding: 4rem 2rem;
}

.footer {
    background: linear-gradient(135deg, #3e57bd 0%, #009fda 36%, #48c4e5 81%, #8bd6f0 100%);
    color: #ffffff;
}

.social-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
}

.social-links a:hover {
    opacity: 0.8;
}

.ux-video {
    display: block;
    padding-top: 3rem;
    margin: auto;
}

.main-content {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.mailing-list .container {
    padding: 4rem 0;
}

.container.navbar-container {
    padding: 0;
}

.lead {
    font-size: 1rem;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

.splash-design-challenge {
    background: #000 url("../imgs/design\ challenge/design-challenge-banner.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-outline-light:hover {
    color: grey;
    background-color: #ffffff;
    border-color: #ffffff;
}

.prompt-reveal-container {
    padding: 3rem;
    color: white;
    background: linear-gradient(135deg, #3e57bd 0%, #009fda 36%, #48c4e5 81%, #8bd6f0 100%);
    border-radius: 25px;
}

.prompt-reveal-container hr {
    border-color: white;
    margin: 3rem 0;
}

.prompt-reveal-container a {
    color: #e87500;
    font-weight: bold;
}

.design-conference-container {
    padding: 3rem;
    color: #ffffff;                             
    background: linear-gradient(167deg, #0A1429 0.88%, #284480 32.03%, #355DB1 83.28%);
    border-radius: 25px;
}

.design-conference-panel {
    background: linear-gradient(117.88deg, rgba(67, 128, 255, 0.16) 0%, rgba(24, 42, 79, 0.16) 100%);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;   
    color: white; 
}

.uxperience-container {
    padding: 3rem;
    color: #ffffff;                             
    background: linear-gradient(167deg, #142651 0.88%, #284480 32.03%, #355db1 83.28%);
    border-radius: 25px;
}

.uxperience-panel {
    background: linear-gradient(117.88deg, rgba(67, 128, 255, 0.16) 0%, rgba(24, 42, 79, 0.16) 100%);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;    
}

.ptop-conference-container {
    color: #283F78;                           
    background: radial-gradient(100% 50% at 50% 50%, #86BAE8 0%, #CCECFE 100%);
    background-size: contain;
}

.ptop-conference-panel {
    border:#354b89 4px solid;
    border-radius: 20px;
    box-shadow: 0px 0px 50px #0000003b;

}

.ptop-panel {
    background: #ffffff;
    border:#354b89 9px solid;
    box-shadow: 18px 0px 0px -9px #354b89, -18px 0px 0px -9px #354b89, -0px 18px 0px -9px #354b89, -0px -18px 0px -9px #354b89;
}
.ptop-sponsors {
    background: linear-gradient(117.88deg, rgba(67, 128, 255, 0.16) 0%, rgba(24, 42, 79, 0.16) 100%);
    border:#354b89 3px solid;
}

.ptop-cursor {
    position: relative;
    top: -20px;
    left: 620px;
    width: 30px;
}

.ptop-banner {
    width: auto;
    height: 692px;
    padding-left: 75px;
}

.ptop-speaker-banner {
    max-width: 80%;
    max-height: 100%;
    padding: 3vw;
}

.ptop-speaker-panel {
    max-width: 80%;
    max-height: 100%;
    padding: 3vw;
    
}

.ptop-container {
    width: 100%;
    height: 30vh;
    border: #354b89 2px solid;
    border-radius: 10px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
    padding-top: 7vh;
    margin-bottom: 3vh;
    transition:all 0.3s ease;
}

.utd-monogram-svg {
    display: block;
    width: 7rem;
    margin: auto;
}

.indent {
    margin-left: 3rem;
}

.countdown-container hr {
    margin: 3rem 0;
}

.award-name {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.award-description {
    text-align: center;
    font-size: 1rem;
}

.center-text {
    text-align: center;
}

.sub-text {
    font-style: italic;
    font-size: 15px !important;
}

.line-through {
    text-decoration: line-through;
}

.design-challenge-sponsor {
    width: 20rem;
    padding-top: 2rem;
}

.design-challenge-flyer {
    width: 100%;
}

.design-conference-flyer {
    width: 100%;
}

.design-challenge-timer-text {
    font-size: 40px !important;
}

.design-challenge-timer {
    color: white;
}

.conference-timer-top-text {
    font-size: 4svw !important;
    font-family: pixel;
    background-color: #CCECFE;
    color: #354b89;
    margin-bottom: 0;
}


.conference-timer-text {
    font-size: 7svw !important;
    font-family: 'DotGothic16', sans-serif;
    background-color: #CCECFE;
    color: #354b89;
}

.rubric-pdf {
    height: 40rem;
    width: 80%;
}

.alert-color-yellow {
    background-color: #fff3cd;
    border-color: #fff3cd;
    color: #856404;
    border: 1px solid transparent;
}

.alert-color-blue {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    border: 1px solid transparent;
}

.alert-contents {
    display: block;
    padding: 1rem;
    text-align: center;
}

.fa-exclamation-circle {
    font-size: 2rem;
    padding: 0rem 1rem;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
  }

  .active,
  .accordion:hover {
    background-color: #ccc;
  }

  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

  .ptop-background{
    background-color: #CCECFE;
  }
  
  .responsive {
    max-width: 100%;
    height: auto;
  }

  .about-icon {
    height: 100%;
    width: 100%;
    color: #0075cd;
    text-decoration: none;
    pointer-events: none;
    font-size: 5rem;
  }

  .grow { transition: all .3s ease-in-out; }

  .grow:hover { transform: scale(1.02); }

  .rotate { transition: all .3s ease-in-out; }

  .rotate:hover { transform: rotate(-2deg); }

  @property --p{
    syntax: '<number>';
    inherits: true;
    initial-value: 1;
  }
  
  .pie {
    --p:20;
    --b:22px;
    --c:darkred;
    --w:150px;
  
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
  }
  .pie:before,
  .pie:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    
  }
  .pie:before {
    inset: 0;
    background:
    radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
      conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
      -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
      mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
   
  }
  .pie:after {
    inset: calc(50% - var(--b)/2);
    background: var(--c);
    transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
  }
  .animate {
    animation: p 2s 1s both;
  }
  .no-round:before {
    background-size:0 0,auto;
  }
  .no-round:after {
    content:none;
  }
 
  @keyframes p{
    from{--p:0}
  }
  
  .notification-top-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    background: #071535;
    text-align: center;
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    font-size: 16px;
  }
  .notification-top-bar p {
    padding: 0;
    margin: 0;
  }
  .notification-top-bar p a {
    padding: 5px 10px;
    border-radius: 3px;
    background: #FFF;
    color: #071535;
    font-weight: bold;
    text-decoration: none;
  }
  .notification-top-bar p a :hover{
    padding: 5px 10px;
    border-radius: 3px;
    background: #32b8e1;
    color: #071535;
    font-weight: bold;
    text-decoration: none;
  }

  @media (max-width: 600px) {
    .notification-top-bar {
        position: fixed;
        top: 0;
        left: 0;
        height: auto;
        line-height: 60px;
        width: 100%;
        background: #071535;
        text-align: center;
        color: #FFFFFF;
        font-family: "Montserrat", sans-serif;
        font-weight: lighter;
        font-size: 12px;
      }
  }

  .dc23-background{
    background-color: #03060f;
  }

  .design-challenge23-timer-text {
    font-size: 80px !important;
    font-weight: 800;
}
@media only screen and (max-width: 600px) {
    .design-challenge23-timer-text {
      font-size: 30px;
    }
  }

.design-challenge23-container {
    padding: 3rem;
    color: #ffffff;                             
    background: linear-gradient(117.88deg, rgba(67, 128, 255, 0.16) 0%, rgba(24, 42, 79, 0.16) 100%);
    border-radius: 25px;
}
.design-conference-panel {
    background: linear-gradient(117.88deg, rgba(67, 128, 255, 0.16) 0%, rgba(24, 42, 79, 0.16) 100%);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;   
    color: white; 
}
.divider {
    width: 100%;
    height: 1px;
    background-color: #7A7A8D;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }


  .conf24-background {
    background: linear-gradient(180deg, #4291ED 0%, #4268ED 100%);
  }

.full-screen-div {
    width: 100%;
    height: calc(100vh - 100px);
    border: 1rem solid white;
    box-sizing: border-box;
  }
  
.animated-text-strip{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    overflow: hidden;
  }
  .animated-text-strip .marquee {
    white-space: nowrap;
    animation: marquee 30s linear infinite;
    max-width: none;
  }
  
  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }
  .marquee{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    animation: scroll 30s linear infinite;
    color: white;

  }
  .conf24-title {
    font-family: "Plus Jakarta Sans";
    color: white;
    font-weight: 700;
    font-size: 6rem;
    
  }

  canvas {
    width: 100%;
    height: 100%;
    mix-blend-mode: screen;
}

.conf24-centered-text {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(0%, -58vh);
    color: #fff; 
    font-size: 80px; 
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    text-align: center;
    z-index: 999;
    text-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
}
.conf24-small-text {
    width: 100%;    
    top: 35%;
    left: 50%;
    transform: translate(0, -60vh);
    color: #fff; 
    font-size: 20px; 
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    text-align: center;
    z-index: 999;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

.conf24-button {
    width: auto;
    height: auto;  
    top: 35%;
    left: 50%;
    transform: translate(0, -50vh);
    font-size: 30px; 
    padding: 0.5rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    border-radius: 20px;
    background: #FCFFEE;
    color: #4268ed;
    border: 4px solid #427EED;
    box-shadow: 0px 0px 0px 4px #FCFFEE;
}
.conf24-mascot {
    width: 20rem;
    height: auto;  
    top: 35%;
    left: 50%;
    transform: translate(calc(100vw - 350px), calc(0vh - 550px));
}
.conf24-arrow {
    width: 20rem;
    height: auto;  
    top: 35%;
    left: 50%;
    transform: translate(calc(0vw - 350px), calc(0vh - 522px));
}

.conf24-text {
    color: #020200; 
    font-size: 20px; 
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    text-align: center;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

.conf24-container {
    width: 100%;
    height: 30vh;
    background-color: #fcffee;
    border-radius: 20px;
    border: 4px solid #427EED;
    box-shadow: 0px 0px 0px 4px #fcffee;
    padding: 7vh;
    margin: 3vh;
    transition: all 0.3s ease;
}

.conf24-conference-panel {
    background-color: #fcffee;
    border-radius: 40px;
    border: 4px solid #427EED;
    box-shadow: 0px 0px 0px 4px #fcffee;
}

.schedule-item {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 0;
    border-bottom: 3px solid #ccc; /* Grey underline */
    transition: border-color 0.3s; /* Smooth transition */
    cursor: pointer;
}

.schedule-item:hover {
    border-color: #4268ed; /* Blue underline on hover */
}

.align-left {
    align-items: left;
}

.conf24-banner {
    position: sticky;
    top: 0;
    left: 90vw;
    width: 8vw;
    height: auto;
    z-index: 999;
    margin-bottom: -150px;
}
