@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.splash-sub {
    background-size: cover;
    color: #ffffff;
    height: 85%;
    padding-top: 6rem;
    position: relative;
}

.splash-about {
    background: #000 url('../imgs/officers.jpg');
    background-size: cover;
}

.splash-event {
    background: #000 url("../imgs/ATEC.jpg");
    background-size: cover;
}

.splash-uxperience {
    background: #000 url("../imgs/uxperience/blackstone_launchpad.jpg");
    background-size: cover;
}

.about-content {
    padding-top: 4rem;
    padding-bottom: 6rem;
}

.officers {
    position: relative;
}

.officers img {
    height: 100%;
    width: 100%;
    position: relative;
}

.officers img:hover ~ .external-links, .officers .external-links:hover {
    display: inline-block;
}

.officers .external-links {
    background: #00000066;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
    padding-top: 35%;
}

.officer-wrapper {
    width: 14rem;
    margin: 0 auto;
}

.officer-description * {
    padding-top: 0.25em;
    padding-bottom: 0.5em;
    margin: 0;
}

.external-links a {
    color: inherit;
}

.external-links a:hover {
    opacity: 0.8;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #25336E 0%, #009FDA 36%, #48C4E5 81%, #9CDBF1 100%);
    opacity: 0.8;
}

.no-border {
    border: none;
}

.btn-dark-light {
    border: solid 1.5px #000;
    color: #000;
    background: transparent;
}

.btn-dark-light:hover {
    color: #fff;
    background: #000;
}

.logo {
    height: 10rem;
    margin: 1rem 0;
}

.splash {
    background: linear-gradient(135deg, #25336E 0%, #009FDA 36%, #48C4E5 81%, #9CDBF1 100%);
    color: #ffffff;
    height: 85%;
    padding-top: 6rem;
}

.splash h2 {
    font-weight: 700;
    font-size: 1rem;
}

.navbar-brand img {
    width: 10rem;
}

.navbar .nav-item a.nav-link {
    color: #009FDA;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.navbar .nav-item a.nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #009FDA;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.navbar .nav-item a.nav-link:hover,
.navbar .nav-item a.nav-link:active,
.navbar .nav-item a.nav-link:focus {
    color: #009FDA;
}

.navbar .nav-item a.nav-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(0.8);
    transform: scaleX(0.8);
}

.event img {
    width: 20rem;
}

.event {
    margin-bottom: 5rem;
}

.event-time {
    font-weight: bold;
}

.event-activity-name {
    font-weight: bold;
    font-size: 1.5rem;
}

.event-activity-description {
    font-size: 1rem;
}

#flyer img {
    width: 100%;
    height: auto;
}

.collaborations img {
    width: 8rem;
}

.mailing-list {
    background: #222222;
    color: #ffffff;
}

.btn-gradient {
    text-decoration: none;
    color: #ffffff;
    transition: all 0.2s ease;
    background: linear-gradient(135deg, #009FDA 0%, #48C4E5 100%);
    font-weight: 700;
    box-shadow: 0 1.5px 3.5px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.14);
}

.btn-gradient:hover {
    box-shadow: 0 2.5px 4.5px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.24);
    color: #ffffff;
}

.btn-clear {
    background: transparent;
    color: #ffffff;
    border: 1px solid #fff;
    font-weight: normal;
    font-size: 14px;
    height: 43px;
    transition: all 0.5s;
}

.btn-clear:hover {
    background-color: #fff;
    color: #222;
    font-weight: 700;
}

form {
    padding: 4rem 2rem;
}

.footer {
    background: #181d1f;
    color: #ffffff;
}

.social-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
}

.social-links a:hover {
    opacity: 0.8;
}

.ux-video {
    display: block;
    padding-top: 3rem;
    margin: auto;
}

.main-content {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.mailing-list .container {
    padding: 4rem 0;
}

.container.navbar-container {
    padding: 0;
}

.lead {
    font-size: 1rem;
}

.parallax-window{
    min-height: 400px;
    background: transparent;
}

.fb-page {
    text-align: center;
}

