.modal-shade {
  display: none;
  opacity: 0;
  background: radial-gradient(circle at center, rgba(0, 0, 0, 0.4) 0, rgba(0,0,0,0.8) 100%);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  will-change: opacity;
}

.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;

  .modal {
    opacity: 0;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
    background: white;
    border-radius: 5px;
    padding: 30px 45px;
    width: 35%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: 950px) {
      width: 60%;
    }

    @media screen and (max-width: 830px) {
      width: 70%;
    }

    .footer-email-signup-form-container {
      form {
        .input-container {
           display: flex;
           border: 1px solid #222;
           border-radius: 2px;
           position: relative;
           height: 48px;
           &:after {
             content: '';
              position: absolute;
              left: 0;
              bottom: 5px;
              display: block;
              width: 100%;
              height: 1px;
              background: #222;
           }
          input {
            display: block;
            width: 100%;
            height: 40px;
            border: none;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 12px;
            font-family: 'Montserrat', sans-serif;
            color: #222;

            &::placeholder {
              transition: all 0.3s;
              color: #555;
            }

            &:focus {
              &::placeholder {
                color: #666;
              }
            }
          }

          button {
            border-bottom: 1px solid #222;
            font-weight: normal;
            border-left: 1px solid #222;
            font-size: 14px;
            height: 43px;
            transition: all 0.5s;
            color: #222;

            &:hover {
              background-color: #222;
              color: #fff;
              font-weight: 700;
            }
          }
        }
      }
    }

    .modal-cancel {
      position: absolute;
      transform: translateY(0px) translateZ(0px);
      right: left;
      left: 93%;
      top: 3.5%;
      color: #ff003d;
      font-size: 30px;
      cursor: pointer;
      color: #555;
      transition: all 0.2s;
      width: 25px;

      &:hover {
        color: #222;
      }

      @media screen and (max-width: 420px) {
        left: 89%;
      }
    }

    .links {
      .email {
        text-decoration: none;
        padding-top: 1px;
        p {
          font-size: 12px;
          font-weight: 700;
          color: #fff;
          opacity: 1;
          transition: all 0.2s;
          &:hover {
            opacity: 0.5;
          }
        }
      }
      .fa {
        color: #222;
        font-size: 30px;
        transition: all 0.1s ease-in-out;
        opacity: .93;

        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }

      .fa-facebook-official {
        color: #3C599F
      }

      .fa-twitter {
        color: #1ea1f3;
      }
      .fa-instagram {
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.2s;
      }

      .fa-envelope-o {
        font-size: 27px;
        position: relative;
        bottom: 2px;
        color: $secondary-2;
      }

      a {
        margin-right: 20px;
        text-decoration: none;
      }
    }
  }

  .modal-header {
    align-self: flex-start;
  }

  .modal-middle {
    p {
      margin-bottom: 30px;
    }
  }

  .modal-footer {
    align-self: flex-end;
  }
}
