header {
  width: 100%;
  height: $header-height;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  flex-direction: row;

  @include box_shadow(1)
  position: fixed;
}

.navbar {
  max-width: 1440px;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #fff;
  margin: 0 auto;
  padding: 0 10%;

  .navbar-lower-wrapper {
    display: flex;
    width: 100%;

    .logo-wrapper {
      display: inline-flex;
      flex: 1;
      background-color: #fff;
      align-items: center;
      justify-content: center;

      .logo {
        height: 65px;
        padding-top: 5px;
        width: auto;
        cursor: pointer;
        transition: all .4s ease-out;

        @media screen and (max-width: $break-huge) {
          height: 55px;
        }

        @media screen and (max-width: $break-huge - 100px) {
          height: 50px;
        }

        @media screen and (max-width: $break-huge - 150px) {
          height: 48px;
        }

        @media screen and (max-width: $break-huge - 200px) {
          height: 44px;
        }

        @media screen and (max-width: 420px) {
          height: 36px;
        }
      }
    }

    .nav-items-wrapper {
      display: inline-flex;
      flex: 9;
      ul {
        flex: 1;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        display: flex;
        padding-left: 7%;

        @media screen and (max-width: 950px) {
          display: none;
        }

        div {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          li {
            color: $secondary-4;
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 100%;
            font: inherit;
            vertical-align: baseline;
            text-transform: uppercase;
            font-size: 16px;
            padding: 20px;
            font-weight: 700;
            cursor: pointer;
            transition: all .4s ease-out;

            @media screen and (max-width: $break-huge) {
              font-size: 15px;
            }

            @media screen and (max-width: $break-huge - 100px) {
              padding: 15px;
            }

            @media screen and (max-width: $break-huge - 150px) {
              font-size: 14px;
            }

            @media screen and (max-width: $break-huge - 200px) {
              font-size: 12px;
              padding: 14px;
            }

            @media screen and (max-width: $break-large) {
              padding: 12px;
            }

            @media screen and (max-width: $break-large - 50px) {
              padding: 9px;
            }


            &:after {
              display:block;
              content: '';
              position: relative;
              top: 4px;
              height: 2px;
              background: $secondary-4;
              transform: scaleX(0.0001);
              transition: transform 240ms ease-in-out;
              box-shadow: inset -40px 0px 30px -25px, rgba($primary, .2);
            }

            &:hover:after {
              transform: scaleX(1);
            }
          }
        }
      }
    }

    .nav-button-wrapper {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;

      button {
        @media screen and (max-width: $break-large) {
          height: 33px;
          width: 115px;
          font-size: 14px;
        }
      }
    }
  }
}
