

.section-events {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 60px 0 90px 0;
  background-color: #fff;
  z-index: 9;
  -webkit-box-shadow: inset 0 8px 4px -4px rgba(0,0,0,0.09);
  -moz-box-shadow: inset 0 8px 4px -4px rgba(0,0,0,0.09);
  box-shadow: inset 0 8px 4px -4px rgba(0,0,0,0.09);

  @media screen and (max-width: 950px) {
    padding: 70px 0 10px 0;
  }

  .header {
    padding-bottom: 30px;
  }

  p {
    text-align: justify;
  }

   .section-main-event {
     display: flex;
     justify-content: center;
     align-items: center;
     flex: 1;
     margin-bottom: 70px;

     @media screen and (max-width: 950px) {
       flex-flow: column-reverse;
       &:first-of-type {
         margin-bottom: 0px;
       }
     }

     .section-event-left {
       display: flex;
       flex: 1;
       flex-direction: column;
       text-align: left;
       height: 100%;
       justify-content: center;
       @media screen and (max-width: 950px) {
         min-height: 315px;
         justify-content: baseline;
         margin-bottom: 0px;
       }


       @media screen and (max-width: 550px) {
         min-height: 370px;
         justify-content: baseline;
         margin-bottom: 0px;
       }

       @media screen and (max-width: 450px) {
         min-height: 390px;
         justify-content: baseline;
         margin-bottom: 0px;
       }

       p:first-of-type {
         padding-bottom: 15px;
       }

       p {
         padding-bottom: 20px;
       }

       .event-location {
         font-size: 18px;
         color: #444;
         font-weight: 700;
       }

       .event-date {
         font-weight: 700;
         transition: all 0.2s ease;
         @media screen and (max-width: 490px) {
           font-size: 16px;
         }
       }

       .event-description {
         @media screen and (max-width: $break-huge - 200px) {
           font-size: 15px;
         }

         @media screen and (max-width: 420px) {
           font-size: 14px;
         }
       }
     }

     .section-event-right {
       display: flex;
       flex: 1;
       justify-content: flex-end;
       align-items: center;
       height: 100%;
       @media screen and (max-width: 950px) {
         width: 100%;
         justify-content: center;
       }

       img {
         max-width: 480px;
         transition: all 0.2s ease;
         @media screen and (max-width: $break-huge) {
           max-width: 450px;
         }

         @media screen and (max-width: $break-huge - 100px) {
           max-width: 400px;
         }

         @media screen and (max-width: $break-huge - 200px) {
           max-width: 380px;
         }

         @media screen and (max-width: $break-huge - 220px) {
           max-width: 350px;
         }

         @media screen and (max-width: $break-huge - 240px) {
           max-width: 330px;
         }

         @media screen and (max-width: $break-huge - 260px) {
           max-width: 315px;
         }

         @media screen and (max-width: 950px) {
           padding: 1% 0 2% 0;
           max-width: 400px;
           margin-bottom: 20px;
         }

         @media screen and (max-width: 490px) {
           max-width: 100%;
         }
       }
     }
   }

   .section-other-events {
      margin-top: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex: 1;
      color: #333;

      @media screen and (max-width: 950px) {
        align-items: inherit;
        flex-direction: column;
        margin-top: 40px;
      }

      p {
        font-size: 15px;
        @media screen and (max-width: 1000px) {
      		font-size: 14px;
      	}

        &:first-of-type {
          margin-top: 5px;
        }

        margin-top: 5px;
      }

      .event {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 340px;
        padding-right: 60px;
        @media screen and (max-width: 950px) {
          height: 100%;
          min-height: 300px;
        }

        @media screen and (max-width: 580px) {
          padding-right: 0px;
        }

        &:last-of-type {
          padding-right: 0px;
          @media screen and (max-width: 950px) {
            height: 100%;
            min-height: inherit;
          }
        }
        .event-date {
          font-weight: 700;
          @media screen and (max-width: 1000px) {
            font-size: 14px;
          }
        }

        button {
          margin-top: 25px;
        }
      }
   }
}
