.section-introduction {
	height: 90vh;
	color: #fff;
  background: linear-gradient(135deg, $secondary-2 0%, $secondary-4 36%, $primary 81%, $secondary-5 100%);
	background-size: 400% 400%;
	z-index: 10;
	-webkit-animation: Gradient 35s ease infinite;
	-moz-animation: Gradient 35s ease infinite;
	animation: Gradient 35s ease infinite;
  @include box_shadow(1);
	display: flex;
	flex-direction: column;

	.section-introduction-content-wrapper {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1;
		flex-direction: column;

		.logo {
			height: auto;
			max-width: 15%;
			min-width: 180px;
			margin-bottom: 1%;
			@media screen and (max-width: 730px) {
				min-width: 160px;
				margin-bottom: 2%;
			}

		}

		.club-description-wrapper {
			text-align: center;
			width: 80%;
			max-width: 560px;
			justify-content: center;
			display: flex;
			flex-direction: column;
			padding-top: 10px;
			margin-bottom: 20px;

			h1 {
				margin-bottom: 10px;
				font-size: 24px;

				@media screen and (max-width: 730px) {
					font-size: 23px;
		    }

				@media screen and (max-width: 690px) {
					font-size: 21px;
				}

				@media screen and (max-width: 590px) {
					font-size: 20px;
				}

				@media screen and (max-width: 470px) {
					font-size: 17px;
				}
			}

			p {
				font-size: 18px;
				line-height: 1.4;
				width: 90%;
				margin: 0 auto;

				@media screen and (max-width: 730px) {
					font-size: 15px;
		    }

				@media screen and (max-width: 690px) {
					font-size: 14px;
		    }
			}
		}

		.down-arrow-wrapper {
			display: flex;
			position: relative;
			flex-direction: column;
			align-items: center;
			top: 1vh;
			cursor: pointer;

			&:hover {
				i {
					top: 3px;
				}
			}

			p {
				font-weight: 700;
				font-size: 14px;
				text-transform: uppercase;
			}

			i {
				font-size: 20px;
				transition: all 0.2s ease-in-out;
				position: relative;
				top: 0px;
			}
		}
	}
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
